DATABASE_URL=mysql+pymysql://root:password@db:3306/federated_healthcare
SECRET_KEY=your-secret-key-change-in-production
ALGORITHM=HS256
UPLOAD_DIR=D:/federated-healthcare/federated-healthcare/storage/datasets
MODEL_DIR=D:/federated-healthcare/federated-healthcare/models
LOG_DIR=D:/federated-healthcare/federated-healthcare/logs
CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]
DEBUG=false
